<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-sale=1" />
    
    <!-- CSRF token -->
	
	<!-- default header name is X-CSRF-TOKEN -->
	
    
    <link href="../Mobile/Content/style.css" type="text/css" rel="stylesheet" />
	<script type='text/javascript' src='../webjars/jquery/2.2.3/jquery.min.js'></script>
	<script type='text/javascript' src='../Mobile/JS/core.js'></script>
	<script type='text/javascript' src='../Mobile/JS/page9.base.js'></script>
    <title>修改喜好店</title>
</head>

<body>
    <div class="gridContainer clearfix mainDiv">
    	<img src="../Mobile/images/UserChangeShopOKPage9.png" >
    	<div style="top: 0; position: absolute;" class="mainDiv">
    		<table style="width:100%">
    			<tr heightPercent="30"  style="width:100%">
    			</tr>
    			<tr heightPercent="25" style="width:100%">
    				<td style="width:30%"></td>
    				<td>
    					<a th:href="@{/m/index?event=SHARE_CARD}">
    						<div  style="width:100%"></div>
    					</a>
    				</td>
    				<td style="width:30%"></td>
    			</tr>
    		</table>
    	</div>
    </div>
</body>

</html>