<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-sale=1" />
    
    <!-- CSRF token -->
	
	<!-- default header name is X-CSRF-TOKEN -->
	
    
    <link href="../Mobile/Content/style.css" type="text/css" rel="stylesheet" />
	<script type='text/javascript' src='../webjars/jquery/2.2.3/jquery.min.js'></script>
	<script type='text/javascript' src='../Mobile/JS/core.js'></script>
	<script type='text/javascript' src='../Mobile/JS/page5.base.js'></script>
    <title>領取數位卡</title>
</head>

<body>
    <div class="gridContainer clearfix mainDiv">
    	<img src="../Mobile/images/IKEA-Card-2.jpg" >
    	<div style="top: 0; position: absolute;" class="mainDiv">
    		<table style="width:100%">
    			<tr heightPercent="35"  style="width:100%">
    				<td style="width:5%"></td>
    				<td style="width:50%"></td>
    				<td style="width:40%"></td>
    				<td></td>
    			</tr>
    			<tr heightPercent="22" style="width:100%">
    				<td ></td>
    				<td colspan="2">
    					<div  style="width:100%"><img id="mycardBarcode" src="../m/mycardBarcode"  style="position: relative;"></div>
    					<div  style="width:100%"><span id="myIdSub" style="position: absolute;"></span></div>
    				</td>
    				<td></td>
    			</tr>
    			<tr heightPercent="16" style="width:100%">
    				<td></td>
    			</tr>
    			<tr heightPercent="7"  style="width:100%">
    				<td ></td>
    				<td ></td>
    				<td >
    					<a href="index?event=SHARE_CARD">
    						<div  style="width:100%"></div>
    					</a>
    				</td>
    				<td ></td>
    			</tr>
    		</table>
    	</div>
    </div>
</body>

</html>