<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-sale=1" />
    
    <!-- CSRF token -->
	
	<!-- default header name is X-CSRF-TOKEN -->
	
    
    <link href="../Mobile/Content/style.css" type="text/css" rel="stylesheet" />
	<script type='text/javascript' src='../webjars/jquery/2.2.3/jquery.min.js'></script>
	<script type='text/javascript' src='../Mobile/JS/core.js'></script>
	<script type='text/javascript' src='../Mobile/JS/page3-2.base.js'></script>
    <title>卡友專屬服務</title>
</head>

<body>
    <div class="gridContainer clearfix mainDiv">
    	<img src="../Mobile/images/bindedPage3-7.jpg" >
    	<div style="top: 0; position: absolute;" class="mainDiv">
    		<table style="width:100%">
    			<tr heightPercent="35"  style="width:100%">
    				<td style="width:5%"></td>
    				<td style="width:25%"></td>
    				<td style="width:20%"></td>
    				<td style="width:20%"></td>
    				<td style="width:25%"></td>
    				<td></td>
    			</tr>
    			<tr heightPercent="20" style="width:100%">
    				<td ></td>
    				<td colspan="4">
    					<a th:href="">
    						<div  style="width:100%"></div>
    					</a>
    				</td>
    				<td></td>
    			</tr>
    			<tr heightPercent="20" style="width:100%">
    				<td ></td>
    				<td colspan="4">
    					<a th:href="">
    						<div  style="width:100%"></div>
    					</a>
    				</td>
    				<td></td>
    			</tr>
    			<tr heightPercent="20" style="width:100%">
    				<td ></td>
    				<td colspan="4">
    					<a th:href="">
    						<div  style="width:100%"></div>
    					</a>
    				</td>
    				<td></td>
    			</tr>
    			<tr heightPercent="15" style="width:100%">
    				<td></td>
    			</tr>
    		</table>
    	</div>
    </div>
</body>

</html>