<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration
        xmlns:log4j='http://jakarta.apache.org/log4j/' >
    <!-- Console -->
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyyMMdd HH:mm:ss.SSS} %-5p [%-4L] %-30.30C{1} %-35M [%-27t] - %m%n}"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="levelMin" value="INFO"/>
            <param name="levelMax" value="ERROR"/>
        </filter>
    </appender>
    <!-- ALL File -->
    <appender name="Appender1" class="com.bcs.core.log.appender.RollingFileWithSizeAndDayFolderAppender">
        <param name="FileDatePattern" value="yyyy-MM-dd-HH-mm"/>
        <param name="FolderDatePattern" value="yyyyMMdd"/>
        <param name="Append" value="true"/>
        <param name="MaxBackupIndex" value="9999"/>
        <param name="MaxFileSize" value="400MB"/>
        <param name="File" value="/bcs/log/rose/taishin.be.oa.log"/>

        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyyMMdd HH:mm:ss.SSS} %-5p [%-4L] %-30.30C{1} %-35M [%-27t] - %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="levelMin" value="INFO"/>
            <param name="levelMax" value="ERROR"/>
        </filter>
    </appender>
    <!-- ERROR File -->
    <appender name="Appender2" class="com.bcs.core.log.appender.RollingFileWithSizeAndDayFolderAppender">
        <param name="FileDatePattern" value="yyyy-MM-dd-HH-mm"/>
        <param name="FolderDatePattern" value="yyyyMMdd"/>
        <param name="Append" value="true"/>
        <param name="MaxBackupIndex" value="9999"/>
        <param name="MaxFileSize" value="400MB"/>
        <param name="File" value="/bcs/log/rose/taishin.be.oa.error.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyyMMdd HH:mm:ss.SSS} %-5p [%-4L] %-30.30C{1} %-35M [%-27t] - %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="levelMin" value="ERROR"/>
            <param name="levelMax" value="ERROR"/>
        </filter>
    </appender>
    <!-- PNP -->
    <appender name="PNP" class="com.bcs.core.log.appender.RollingFileWithSizeAndDayFolderAppender">
        <param name="FileDatePattern" value="yyyy-MM-dd-HH-mm"/>
        <param name="FolderDatePattern" value="yyyyMMdd"/>
        <param name="Append" value="true"/>
        <param name="MaxBackupIndex" value="9999"/>
        <param name="MaxFileSize" value="400MB"/>
        <param name="File" value="/bcs/log/rose/taishin.be.oa.pnp.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyyMMdd HH:mm:ss.SSS} %-5p [%-4L] %-30.30C{1} %-35M [%-27t] - %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="levelMin" value="DEBUG"/>
            <param name="levelMax" value="ERROR"/>
        </filter>
    </appender>
    <appender name="PNP-ERR" class="com.bcs.core.log.appender.RollingFileWithSizeAndDayFolderAppender">
        <param name="FileDatePattern" value="yyyy-MM-dd-HH-mm"/>
        <param name="FolderDatePattern" value="yyyyMMdd"/>
        <param name="Append" value="true"/>
        <param name="MaxBackupIndex" value="200"/>
        <param name="MaxFileSize" value="200MB"/>
        <param name="File" value="/bcs/log/rose/pnp/taishin.be.oa.pnp.err.log"/>

        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyyMMdd HH:mm:ss.SSS} %-5p [%-4L] %-30.30C{1} %-35M [%-27t] - %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="levelMin" value="ERROR"/>
            <param name="levelMax" value="ERROR"/>
        </filter>
    </appender>
    <!--使用Logger.getLogger("XXX")獲得此輸出器，且不會使用根輸出器-->
    <logger name="PnpRecorder" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="PNP"/>
        <appender-ref ref="PNP-ERR"/>
    </logger>
    <!-- Billing Notice -->
    <appender name="BN" class="com.bcs.core.log.appender.RollingFileWithSizeAndDayFolderAppender">
        <param name="FileDatePattern" value="yyyy-MM-dd-HH-mm"/>
        <param name="FolderDatePattern" value="yyyyMMdd"/>
        <param name="Append" value="true"/>
        <param name="MaxBackupIndex" value="9999"/>
        <param name="MaxFileSize" value="400MB"/>
        <param name="File" value="/bcs/log/rose/bn/taishin.be.oa.bn.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyyMMdd HH:mm:ss.SSS} %-5p [%-4L] %-30.30C{1} %-35M [%-27t] - %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="levelMin" value="INFO"/>
            <param name="levelMax" value="ERROR"/>
        </filter>
    </appender>
    <!-- Billing Notice -->
    <appender name="BN_ERR" class="com.bcs.core.log.appender.RollingFileWithSizeAndDayFolderAppender">
        <param name="FileDatePattern" value="yyyy-MM-dd-HH-mm"/>
        <param name="FolderDatePattern" value="yyyyMMdd"/>
        <param name="Append" value="true"/>
        <param name="MaxBackupIndex" value="9999"/>
        <param name="MaxFileSize" value="400MB"/>
        <param name="File" value="/bcs/log/rose/bn/taishin.be.oa.bn.err.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyyMMdd HH:mm:ss.SSS} %-5p [%-4L] %-30.30C{1} %-35M [%-27t] - %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="levelMin" value="ERROR"/>
            <param name="levelMax" value="ERROR"/>
        </filter>
    </appender>
    <logger name="BNRecorder" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="BN"/>
        <appender-ref ref="BN_ERR"/>
    </logger>
    <root>
        <appender-ref ref="console"/>
        <appender-ref ref="Appender1"/>
        <appender-ref ref="Appender2"/>
    </root>
</log4j:configuration>