<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:with="strList = ${ {'/BCS/JS/PagepnpNAC.base.js'} }">

<head th:replace="/BCS/Views/Common/Head :: head ('PNP Normal Account Create Page', ${strList})">
</head>

<body>
    <header th:replace="/BCS/Views/Common/Header :: header"></header>

    <div class="LyContents">
        <div th:replace="/BCS/Views/Common/Menu :: menu ('PagepnpNAL')"></div>

        <!-- Right Content -->
        <div class="LyMain" role="main">
            <form>
                <section>
                    <header class="ContentHead">
                    	<input name="cancel" class="btn_cancel" type="button" value="返回" style="float: right; cursor: pointer;">
                        <h3 class="CHTtl">建立一般帳號</h3>
                    </header>

                    <div class="mainFrame" id="mainFrame">
                        <table border="1">
                            <colgroup>
                                <col width="400">
                                <col>
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>帳號
                                        <font size="3" color="red">*</font>
                                    </th>
                                    <td><input type="text" id="account" name="account" value="" maxlength="50" required="required"></td>
                                </tr>
                                <tr>
                                    <th>帳號屬性
                                        <font size="3" color="red">*</font>
                                    </th>
                                    <td><input type="text" id="accountAttribute" name="accountAttribute" value="" maxlength="50" required="required"></td>
                                </tr>
                                <tr>
                                    <th>帳號類別
                                        <font size="3" color="red">*</font>
                                    </th>
                                    <td id="accountClassTd" colspan="2" style="text-align: left;">
                                       <label class="mdFRM05Input">
	                						<input type="radio" name="accountClass" class="accountClass" id="accountClassO" value="O" style="cursor: pointer;">作業
	            						</label> &nbsp;&nbsp;&nbsp;
                                        <label class="mdFRM05Input">
	                						<input type="radio" name="accountClass" class="accountClass" id="accountClassM" value="M" style="cursor: pointer;">行銷
	            						</label>
                                    </td>
                                </tr>
                                <tr>
                                    <th>前方來源系統
                                        <font size="3" color="red">*</font>
                                    </th>
                                    <td><input type="text" id="sourceSystem" name="sourceSystem" value="" maxlength="50" required="required"></td>
                                </tr>
                                <tr>
                                    <th>員工編號
                                        <font size="3" color="red">*</font>
                                    </th>
                                    <td><input type="text" id=employeeId name="employeeId" value="" maxlength="50" required="required"></td>
                                </tr>
                                <tr>
                                    <th>單位代號
                                        <font size="3" color="red">*</font>
                                    </th>
                                    <td><input type="text" id="departmentId" name="departmentId" value="" maxlength="50" required="required"></td>
                                </tr>
                                <tr>
                                    <th>單位名稱
                                        <font size="3" color="red">*</font>
                                    </th>
                                    <td colspan="2">
	                                    <div id="name" style="text-align: left;">
	                                    	<input type="text" id="divisionName" name="divisionName" value="" maxlength="10" required="required">&nbsp;處&nbsp;
	                                    	<input type="text" id="departmentName" name="departmentName" value="" maxlength="10" required="required">&nbsp;部&nbsp;
	                                    	<input type="text" id="groupName" name="groupName" value="" maxlength="10" required="required">&nbsp;組&nbsp;
	                                    </div>
                                	</td>
                                </tr>
                                <tr>
                                    <th>PccCode
                                        <font size="3" color="red">*</font>
                                    </th>
                                    <td><input type="text" id="PccCode" name="PccCode" value="" maxlength="50" required="required"></td>
                                </tr>
                                <tr>
                                    <th>帳號狀態
                                        <font size="3" color="red">*</font>
                                    </th>
                                    <td colspan="2" style="text-align: left;">
                                        <label class="mdFRM05Input">
	                						<input type="radio" name="status" class="status" id="statusOn" value="on" style="cursor: pointer;">啟用
	            						</label> &nbsp;&nbsp;&nbsp;
                                        <label class="mdFRM05Input">
	                						<input type="radio" name="status" class="status" id="statusOff" value="off" style="cursor: pointer;">停用
	            						</label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="CHBtnSet">
                            <div class="CHRight"><input class="btn_add add" type="button" value="Set" style="cursor: pointer;"></div>
                        </div>

                        <table border="1" class="popTable">
                            <colgroup>
                                <col width="100">
                                <col width="100">
                                <col width="100">
                            </colgroup>
                            <tr>
                                <th>通路流</th>
                                <th>樣板</th>
                                <th>簡訊內容</th>
                            </tr>
                            <tbody class="popTbody">
                                <tr class="popTr">
                                    <td class="pathway"></td>
                                    <td class="template"></td>
                                    <td class="PNPContent"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="CHBtnSet">
                        <div class="CHRight"><input class="btn_add confirm" type="button" value="Confirm" style="cursor: pointer;"></div>
                    </div>
                </section>
            </form>
        </div>
    </div>

    <!-- Dialog -->
    <div id="dialog-modal" title="預覽設定" style="display:none">
        <table border="1" class="templateTable" id="templateMsgListTable">
            <colgroup>
                <col width="600">
                <col width="600">
            </colgroup>
            <tr class="templateTh">
                <th>通路流</th>
                <th>樣板</th>
            </tr>
            <tbody class="templateMsgTrTemplate">
                <tr class="templateTr">
                    <td class="templateMsgId" style="text-align: center;">
                        <select name="pathwayList" id="pathwayList" style="width: 300px;">
							<option value="">請選擇</option>
						</select>
                    </td>
                    <td class="templateMsgId" style="text-align: center;">
                        <select name="templateList" id="templateList" style="width: 300px;">
							<option value="">請選擇</option>
						</select>
                    </td>
                </tr>
            </tbody>
        </table>
        <br></br>
        
        <table border="1" class="templateTable" id="templateMsgListTable">
            <colgroup>
                <col width="600">
<!--                 <col width="600"> -->
            </colgroup>
            <tr class="templateTh">
                <th>簡訊內容</th>
<!--                 <th>預覽</th> -->
            </tr>
            <tbody class="templateMsgTrTemplate">
                <tr class="templateTr">
                    <td class="templateMsgImgTitle" style="text-align: center;">
                        <textarea cols="50" rows="12" id="PNPContent"></textarea>
                    </td>
<!--                     <td class="templateMsgImgTitle" style="text-align: center;">
                        <textarea cols="50" rows="12"></textarea>
                    </td> -->
                </tr>
            </tbody>
        </table>
        <br></br>
        <div class="CHBtnSet">
            <div class="CHRight"><input class="btn_add popConfirm" id="popConfirm" type="button" value="Confirm" style="cursor: pointer;"></div>
        </div>
    </div>
</body>

</html>