<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.springframework.org/security/tags"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="/BCS/Views/Common/Head :: head ('Rich Msg List Page', '/BCS/JS/page5.base.js')">
</head>

<body>
	<header th:replace="/BCS/Views/Common/Header :: header"></header>

    <div class="LyContents">
    	<div th:replace="/BCS/Views/Common/Menu :: menu ('Page5')"></div>

        <!-- Right Content -->
        <div class="LyMain" role="main">
            <form>
                <section>
                    <header class="ContentHead">
                        <h3 class="CHTtl">圖文訊息列表</h3>
                    </header>

                    <div class="CHBtnSet">
                        <div class="CHRight"><input class="btn_add" type="button" value="建立圖文訊息"  style="cursor: pointer;"></div>
                    </div>

                    <div class="mainFrame">
                        <table border="1" id="richMsgListTable">
                            <colgroup><col width="150"><col width="150"><col width="130"><col width="100"><col width="100"></colgroup>
                            <tr>
                                <th>標題</th>
                                <th>連結</th>
                                <th>建立時間</th>
                                <th>建立人員</th>
                                <th>複製/刪除</th>
                            </tr>
                            <tbody class="richMsgTrTemplate">
                            <tr>
                                <td class="richMsgImgTitle">
                                	<input type="hidden" class="richMsgId">
                                    <img src="" width="100px" style="cursor: pointer;">
                                    <div><a href="richMsgCreatePage" class="richMsgTitle"></a></div>
                                </td>
                                <td class="richMsgImgUrl" style="text-align: left;"></td>
                                <td class="richMsgCreateTime"></td>
                                <td class="richMsgCreateUser"></td>
                                <td>
                                    <input class="btn_copy" type="button" value="複製" style="cursor: pointer;">
                                    <input class="btn_detele" type="button" value="刪除" style="cursor: pointer;" sec:authorize="hasAnyRole('ROLE_ADMIN')">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </form>
        </div>
    </div>
</body>

</html>
