<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.springframework.org/security/tags"
      xmlns:th="http://www.thymeleaf.org"  th:with="strList = ${ {'/BCS/JS/MsgFragment/MsgList.base.js', '/BCS/JS/page8.base.js'} }" >
<head th:replace="/BCS/Views/Common/Head :: head ('Coupon List Page', ${strList})" >
</head>

<body>
	<header th:replace="/BCS/Views/Common/Header :: header"></header>

    <div class="LyContents">
		<div th:replace="/BCS/Views/Common/Menu :: menu ('Page8')"></div>

        <!-- Right Content -->
        <div class="LyMain" role="main">
            <form>
                <section>
                    <header class="ContentHead">
                        <h3 class="CHTtl">優惠券列表 生效</h3>
                        <p class="CHDesc">可建立優惠券。建立完成的優惠券可以訊息形式傳送、投稿至動態消息，或顯示於行動官網。</p>
                    </header>
                    <div class="CHBtnSet">
                        <div class="CHLeft">
                            <ul>
                                <li class="CHLeftBtn ExSelected"><input class="ActiveBtn" type="button" value="生效" style="cursor: pointer;"></li>
                                <li class="CHLeftBtn"><input class="DisableBtn" type="button" value="取消" style="cursor: pointer;"></li>
                            </ul>
                        </div>
                        <div class="CHRight"><input class="btn_add" style="cursor: pointer;" type="button" value="建立優惠券"></div>
                    </div>
                    <div class="mainFrame">
                        <table border="1" id="tableBody">
                            <colgroup>
                            	<col width="150">
                            	<col width="80">
                            	<col width="150">
                            	<col width="100">
                                <col width="50">
                            	<col width="80">
                            	<col width="80">
                            	<col width="80">
                            	<col width="80">
                            	<col width="100">
                            	<col width="100">
                            </colgroup>
                            <tr>
                                <th>標題</th>
                                <th>活動</th>
                                <th>使用效期</th>
                                <th>建立時間<br>建立人員</th>
								<th>狀態</th>
								<th>剩餘張數</th>
                                <th>總張數</th>
                                <th>開封件數</th>
                                <th>使用張數</th>
                                <th>複製/刪除</th>
                                <th></th>
                            </tr>
                            <tr class="dataTemplate">
                                <td class="couponTitle"><a href=""></a></td>
                                <td class="couponEventReference"><a href=""></td>
                                <td class="couponUsingTime"></td>
                                <td class="modifyUser"></td>
                                <td class="status">
                                	<span></span>
                                	<br/>
                                    <input class="btn_redeisgn" type="button" value="取消" style="cursor: pointer;">
                                </td>
                                <td class="couponRemainingNumber"><a></a></td><!-- 優惠券剩於張數 -->
                                <td class="couponTotalNumber"><a></a></td><!-- 優惠券總張數-->
                                <td class="couponGetNumber"><a href=""></a></td>
                                <td class="couponUsingNumber"><a href=""></a></td>
                                <td>
                                    <input class="btn_copy" style="cursor: pointer;" type="button" value="複製">
                                    <input sec:authorize="hasRole('ROLE_ADMIN')" 
                                    	class="btn_detele" style="cursor: pointer;" type="button" value="刪除">
                                </td>
                                <td>
                                    <input class="btn_serialNumber btn_css" style="cursor: pointer;" type="button" value="電子序號紀錄">
                                    <input class="btn_winnerList btn_css" style="cursor: pointer;" type="button" value="填寫資料紀錄">
                                </td>
                            </tr>
                        </table>
                    </div>

                </section>
            </form>
        </div>
    </div>
</body>

</html>
