<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="/BCS/Views/Common/Head :: head ('Line Point List Page', '/BCS/JS/PageLPL.base.js')">
</head>

<body>
	<header th:replace="/BCS/Views/Common/Header :: header"></header>
	
    <div class="LyContents">
		<div th:replace="/BCS/Views/Common/Menu :: menu ('PageLPL')"></div>

        <!-- Right Content -->
        <div class="LyMain" role="main" type="hidden">
            <form>
                <section>
                    <header class="ContentHead">
                        <h3 class="CHTtl">發送專案列表</h3>
                        <p class="CHDesc">LINE POINT發送專案列表。</p>
                    </header>
                    <div class="CHBtnSet">
                        <div class="CHLeft">
	                    	<div>
		                    	<span>日期區間：</span>
		                    	<div class="option date">
		                        	<input type="text" 
			                           	class="datepicker" 
			                           	id="startDate" 
			                           	placeholder="YYYY-MM-DD"/>
		                       	</div>
		                       	<span>~</span>
		                       	<div class="option date">
		                        	<input type="text" 
			                        	class="datepicker" 
			                           	id="endDate" 
			                           	placeholder="YYYY-MM-DD"/>
		                      	</div>
	                      		<input class="btn_save query" type="button" value="查詢"  style="cursor: pointer;">
	                    	</div>
                        </div>
                        <div class="CHRight">
                        	<input class="btn_add" style="cursor: pointer;" type="button" value="建立專案">
                       	</div>
                    </div>
					<div class="mainFrame alignLeft" id="mainFrameId">
                        <table border="1" class="templateTable">
                            <colgroup>
                                <col width="100">
                            	<col width="100">
                            	<col width="100">
                            	<col width="100">
                            	<col width="100">
                            	<col width="100">
                            	<col width="100">
                            	<col width="100">
                            	<col width="100">
                            	<col width="100">
                            	<col width="100">
							</colgroup>
                            <tr class="templateTh">
                                <th>專案名稱</th>
                                <th>建立日期</br>建立人員</th>
                                <th>發送總筆數</th>
                                <th>發送總點數</th>
                                <th>發送推播</th>
                                <th>預約發送時間</th>
                                <th>實際發送時間</th>
                                <th>已發送筆數</th>
                                <th>已發送總點數</th>
                                <th>狀態</th>
                                <th>動作</th>
                            </tr>
                            <tbody class="templateTbody">
	                            <tr class="templateTr">
	                                <td class="title">
	                                	<a id="titleLink" href=""></a>
                                	</td>
	                                <td class="modifyTimeAndUser">
	                                	<span class="modifyTime"></span></br>
	                                	<span class="modifyUser"></span>
	                                </td>
	                                <td class="totalCount"></td>                            
	                                <td class="totalAmount"></td>
	                                <td class="doAppendMessage"></td>
	                                <td class="sendTimingTime"></td>
	                                <td class="sendStartTime"></td>
	                                <td class="successfulCount"></td>
	                                <td class="successfulAmount"></td>
	                                <td class="status"></td>
	                                <td class="actions">
	                                	<input class="btn_copy" style="cursor: pointer;" type="button" value="">
	                                	<input class="btn_detele" style="cursor: pointer;" type="button" value="">
	                                </td>
	                            </tr>
                            </tbody>
                        </table>
                    </div>

                </section>
            </form>
        </div>
    </div>
</body>
</html>
