<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="/BCS/Views/Common/Head :: head ('Line Point List Page', '/BCS/JS/PageLPL.base.js')">
</head>

<body>
	<header th:replace="/BCS/Views/Common/Header :: header"></header>

    <div class="LyContents">
		<div th:replace="/BCS/Views/Common/Menu :: menu ('LinePointListPage')"></div>

        <!-- Right Content -->
        <div class="LyMain" role="main">
            <form>
                <section>
                    <header class="ContentHead">
                        <h3 class="CHTtl">LINE POINT活動列表</h3>
                    </header>
                    <div class="CHBtnSet">
                        <div class="CHLeft">
                        	<input type="text" id="searchText" name="searchText" value="" maxlength="50"  required="required">
                        	<input class="btn_save" style="cursor: pointer;" type="button" value="查詢">
                        </div>
                        <div class="CHRight">
                        	<input class="btn_add" style="cursor: pointer;" type="button" value="建立活動">
                       	</div>
                    </div>
					<div class="mainFrame alignLeft" id="mainFrameId">
                        <div id="tabs">
                            <ul style="height:35px; background:#e9e9e9; border:0px;">
                            </ul>
                        </div>
                        
                        <table border="1" class="templateTable">
                            <colgroup>
                                <col width="180">
                            	<col width="150">
                            	<col width="100">
                            	<col width="100">
                            	<col width="100">
                            	<col width="130">
                            	<col width="130">
                            	<col width="130">
                            	<col width="130">
							</colgroup>
                            <tr class="templateTh">
                                <th>活動代碼</th>
                                <th>標題</th>
                                <th>建立時間</th>
                                <th>點數 / 人</th>
                                <th>活動人數</th>
                                <th>發送狀態</th>
                                <th>發送方式</th>
                                <th>建立人員</th>
                                <th>刪除</th>
                            </tr>
                            <tbody class="templateTbody">
	                            <tr class="templateTr">
	                                <td class="campaignCode"><a href=""></a></td>
	                                <td class="campaignName"></td>
	                                <td class="modifyTime"></td>                            
	                                <td class="sendPoint"></td><!--  發送人數 -->
	                                <td class="campaignPersonNum"></td>
	                                <td class="status"></td>
	                                <td class="sendType"></td>
	                                <td class="setUpUser"></td><!--  建立人員 -->
	                                <td>
	                                    <input class="btn_detele" style="cursor: pointer;" type="button" value="刪除">
	                                </td>
	                            </tr>
                            </tbody>
                        </table>
                    </div>

                </section>
            </form>
        </div>
    </div>
    
</body>
</html>
