<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      th:with="strList = ${ {'/BCS/JS/MsgFragment/DialogTracingLinkList.js', '/BCS/JS/page26.base.js'} }" >
<head th:replace="/BCS/Views/Common/Head :: head ('Tracing Generate List Page', ${strList})" >
</head>
<body>
	<header th:replace="/BCS/Views/Common/Header :: header"></header>
    <div class="LyContents">
		<div th:replace="/BCS/Views/Common/Menu :: menu ('Page26')"></div>
        <!-- Right Content -->
        <div class="LyMain" role="main">
            <form>
                <section>
                    <header class="ContentHead">
                        <h3 class="CHTtl">追蹤網址列表</h3>
                    </header>
                    <div class="CHBtnSet">
                    	<div style="float:left">
                            <ul>
                                <li class="CHLeftBtn">
                                	<input class="LeftBtn" type="button" value="<" style="cursor: pointer;">第 <span id="pageText"></span> 頁 (<span id="recordNumberText"></span> 筆)
                                	<input class="RightBtn" type="button" value=">" style="cursor: pointer;">
                                </li>
                            </ul>
	                    </div>
                        <div class="CHRight">
	                    	<span>查詢標題/註記：</span>
	                    	<div class="option date"  style="width:330px;">
	                        	<input type="text" id="queryFlag"  style="width:300px;"/>
	                       	</div>
	                      	<input class="btn_save query" type="button" value="查詢"  style="cursor: pointer;">
                       	</div>
                    </div>
                    <p class="MdTxtNotice01 MdAC pad10"></p>
                    <div class="mainFrame">
	                    <table border="1" id="tracingListTable">
                            <colgroup>
                                <col width="30%">
                                <col width="20%">
                                <col width="30%">
                                <col width="12%">
                                <col width="8%">
                            </colgroup>
                            <tr class="tableHeader">
                                <th>追蹤連結</th>
                                <th>標題/註記</th>
                                <th>追蹤目標</th>
                                <th>建立時間</th>
                                <th>建立人員</th>
                            </tr>
	                        <tbody class="tracingTrTemplate">
	                            <tr>
	                                <td class="tracingLink" rowspan="3"><a></a></td>
	                                <td class="tracingTargetTitleForUnbind"></td>
	                                <td class="tracingTargetForUnbind"><a target="_blank"></a></td>
	                                <td class="modifyTime" rowspan="3"></td>
	                                <td class="modifyUser" rowspan="3"></td>
	                            </tr>
	                            <tr>
	                                <td class="tracingTargetTitleForBind"></td>
	                                <td class="tracingTargetForBind"><a target="_blank"></a></td>
	                            </tr>
	                            <tr>
	                                <td class="tracingTargetTitleForUnmobile"></td>
	                                <td class="tracingTargetForUnmobile"><a target="_blank"></a></td>
	                            </tr>
	                        </tbody>
	                    </table>
                    </div>
                </section>
            </form>
        </div>
    </div>
</body>
</html>
