<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="/BCS/Views/Common/Head :: head ('Admin User List Page', '/BCS/JS/page10.base.js')">
</head>

<body>
	<header th:replace="/BCS/Views/Common/Header :: header"></header>

    <div class="LyContents">
    	<div th:replace="/BCS/Views/Common/Menu :: menu ('Page10')"></div>
    	
        <!-- Right Content -->
        <div class="LyMain" role="main">
            <form>
                <section>
                    <header class="ContentHead">
                        <h3 class="CHTtl">權限管理列表</h3>
                        <p class="CHDesc">您可建立、刪除權限管理人員。</p>
                    </header>
                    <div class="CHBtnSet">
                        <div class="CHRight"><input class="btn_add" style="cursor: pointer;" type="button" value="建立人員"></div>
                    </div>
                    <div class="mainFrame">
                        <table border="1" id="tableBody">
                            <colgroup><col width="120"><col width="120"><col width="60"><col width="100"><col width="150"><col width="100"><col width="100"></colgroup>
                            <tr>
                                <th>帳號</th>
                                <th>帳號名稱</th>
                                <th>管理權限</th>
                                <th>連結LINE</th>
                                <th>建立時間</th>
                                <th>建立人員</th>
                                <th>刪除</th>
                            </tr>
                            <tr class="dataTemplate">
                                <td class="account"><a href=""></a></td>
                                <td class="userName"></td>
                                <td class="role"></td>
                                <td class="mid"></td>
                                <td class="modifyTime"></td>
                                <td class="modifyUser"></td>
                                <td>
                                    <input class="btn_detele" style="cursor: pointer;" type="button" value="刪除">
                                </td>
                            </tr>
                        </table>
                    </div>
                </section>
            </form>
        </div>
    </div>
</body>

</html>
