<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
<body>
	<!-- Dialog Sticker Select  -->
				<div id="dialogStickerSelect" title="選擇貼圖" th:fragment="dialogStickerSelect" >
	
					<div id="stickerSelect" style="display: none;">
						<div id="stickerSelectTabs">
							<ul>
								<li><a href="#tabs-1" notChangeHref="true"><img class="active MdNonDisp"
										th:src="@{/BCS/images/Stickers/tab_on.png}" alt=""></a></li>
								<li><a href="#tabs-2" notChangeHref="true"><img class="active MdNonDisp"
										th:src="@{/BCS/images/Stickers/tab_on(1).png}" alt=""></a></li>
								<li><a href="#tabs-3" notChangeHref="true"><img class="active MdNonDisp"
										th:src="@{/BCS/images/Stickers/tab_on(2).png}" alt=""></a></li>
								<li><a href="#tabs-4" notChangeHref="true"><img class="active MdNonDisp"
										th:src="@{/BCS/images/Stickers/tab_on(3).png}" alt=""></a></li>
							</ul>
							<div id="tabs-1">
								<div class="stickerSelectSolid" style="overflow: scroll; height:512px;">
									<ul class="stickerSelectList" style="width: 630px;">
										<li data-stkgroupid="1" data-stkid="4" data-stkversion="100">--4--</li>
										<li data-stkgroupid="1" data-stkid="13" data-stkversion="100">--13--</li>
										<li data-stkgroupid="1" data-stkid="2" data-stkversion="100">--2--</li>
										<li data-stkgroupid="1" data-stkid="10" data-stkversion="100">--10--</li>
										<li data-stkgroupid="1" data-stkid="17" data-stkversion="100">--17--</li>
										<li data-stkgroupid="1" data-stkid="401" data-stkversion="100">--401--</li>
										<li data-stkgroupid="1" data-stkid="402" data-stkversion="100">--402--</li>
										<li data-stkgroupid="1" data-stkid="5" data-stkversion="100">--5--</li>
										<li data-stkgroupid="1" data-stkid="15" data-stkversion="100">--15--</li>
										<li data-stkgroupid="1" data-stkid="1" data-stkversion="100">--1--</li>
										<li data-stkgroupid="1" data-stkid="3" data-stkversion="100">--3--</li>
										<li data-stkgroupid="1" data-stkid="16" data-stkversion="100">--16--</li>
										<li data-stkgroupid="1" data-stkid="403" data-stkversion="100">--403--</li>
										<li data-stkgroupid="1" data-stkid="404" data-stkversion="100">--404--</li>
										<li data-stkgroupid="1" data-stkid="405" data-stkversion="100">--405--</li>
										<li data-stkgroupid="1" data-stkid="406" data-stkversion="100">--406--</li>
										<li data-stkgroupid="1" data-stkid="11" data-stkversion="100">--11--</li>
										<li data-stkgroupid="1" data-stkid="7" data-stkversion="100">--7--</li>
										<li data-stkgroupid="1" data-stkid="21" data-stkversion="100">--21--</li>
										<li data-stkgroupid="1" data-stkid="14" data-stkversion="100">--14--</li>
										<li data-stkgroupid="1" data-stkid="8" data-stkversion="100">--8--</li>
										<li data-stkgroupid="1" data-stkid="9" data-stkversion="100">--9--</li>
										<li data-stkgroupid="1" data-stkid="12" data-stkversion="100">--12--</li>
										<li data-stkgroupid="1" data-stkid="6" data-stkversion="100">--6--</li>
										<li data-stkgroupid="1" data-stkid="100" data-stkversion="100">--100--</li>
										<li data-stkgroupid="1" data-stkid="101" data-stkversion="100">--101--</li>
										<li data-stkgroupid="1" data-stkid="102" data-stkversion="100">--102--</li>
										<li data-stkgroupid="1" data-stkid="103" data-stkversion="100">--103--</li>
										<li data-stkgroupid="1" data-stkid="104" data-stkversion="100">--104--</li>
										<li data-stkgroupid="1" data-stkid="105" data-stkversion="100">--105--</li>
										<li data-stkgroupid="1" data-stkid="106" data-stkversion="100">--106--</li>
										<li data-stkgroupid="1" data-stkid="107" data-stkversion="100">--107--</li>
										<li data-stkgroupid="1" data-stkid="108" data-stkversion="100">--108--</li>
										<li data-stkgroupid="1" data-stkid="109" data-stkversion="100">--109--</li>
										<li data-stkgroupid="1" data-stkid="110" data-stkversion="100">--110--</li>
										<li data-stkgroupid="1" data-stkid="111" data-stkversion="100">--111--</li>
										<li data-stkgroupid="1" data-stkid="112" data-stkversion="100">--112--</li>
										<li data-stkgroupid="1" data-stkid="113" data-stkversion="100">--113--</li>
										<li data-stkgroupid="1" data-stkid="114" data-stkversion="100">--114--</li>
										<li data-stkgroupid="1" data-stkid="115" data-stkversion="100">--115--</li>
										<li data-stkgroupid="1" data-stkid="116" data-stkversion="100">--116--</li>
										<li data-stkgroupid="1" data-stkid="117" data-stkversion="100">--117--</li>
										<li data-stkgroupid="1" data-stkid="118" data-stkversion="100">--118--</li>
										<li data-stkgroupid="1" data-stkid="407" data-stkversion="100">--407--</li>
										<li data-stkgroupid="1" data-stkid="408" data-stkversion="100">--408--</li>
										<li data-stkgroupid="1" data-stkid="409" data-stkversion="100">--409--</li>
										<li data-stkgroupid="1" data-stkid="410" data-stkversion="100">--410--</li>
										<li data-stkgroupid="1" data-stkid="411" data-stkversion="100">--411--</li>
										<li data-stkgroupid="1" data-stkid="412" data-stkversion="100">--412--</li>
										<li data-stkgroupid="1" data-stkid="413" data-stkversion="100">--413--</li>
										<li data-stkgroupid="1" data-stkid="414" data-stkversion="100">--414--</li>
										<li data-stkgroupid="1" data-stkid="415" data-stkversion="100">--415--</li>
										<li data-stkgroupid="1" data-stkid="416" data-stkversion="100">--416--</li>
										<li data-stkgroupid="1" data-stkid="417" data-stkversion="100">--417--</li>
										<li data-stkgroupid="1" data-stkid="418" data-stkversion="100">--418--</li>
										<li data-stkgroupid="1" data-stkid="419" data-stkversion="100">--419--</li>
										<li data-stkgroupid="1" data-stkid="420" data-stkversion="100">--420--</li>
										<li data-stkgroupid="1" data-stkid="421" data-stkversion="100">--421--</li>
										<li data-stkgroupid="1" data-stkid="422" data-stkversion="100">--422--</li>
										<li data-stkgroupid="1" data-stkid="423" data-stkversion="100">--423--</li>
										<li data-stkgroupid="1" data-stkid="424" data-stkversion="100">--424--</li>
										<li data-stkgroupid="1" data-stkid="425" data-stkversion="100">--425--</li>
										<li data-stkgroupid="1" data-stkid="426" data-stkversion="100">--426--</li>
										<li data-stkgroupid="1" data-stkid="427" data-stkversion="100">--427--</li>
										<li data-stkgroupid="1" data-stkid="428" data-stkversion="100">--428--</li>
										<li data-stkgroupid="1" data-stkid="429" data-stkversion="100">--429--</li>
										<li data-stkgroupid="1" data-stkid="430" data-stkversion="100">--430--</li>
										<li data-stkgroupid="1" data-stkid="119" data-stkversion="100">--119--</li>
										<li data-stkgroupid="1" data-stkid="120" data-stkversion="100">--120--</li>
										<li data-stkgroupid="1" data-stkid="121" data-stkversion="100">--121--</li>
										<li data-stkgroupid="1" data-stkid="122" data-stkversion="100">--122--</li>
										<li data-stkgroupid="1" data-stkid="123" data-stkversion="100">--123--</li>
										<li data-stkgroupid="1" data-stkid="124" data-stkversion="100">--124--</li>
										<li data-stkgroupid="1" data-stkid="125" data-stkversion="100">--125--</li>
										<li data-stkgroupid="1" data-stkid="126" data-stkversion="100">--126--</li>
										<li data-stkgroupid="1" data-stkid="127" data-stkversion="100">--127--</li>
										<li data-stkgroupid="1" data-stkid="128" data-stkversion="100">--128--</li>
										<li data-stkgroupid="1" data-stkid="129" data-stkversion="100">--129--</li>
										<li data-stkgroupid="1" data-stkid="130" data-stkversion="100">--130--</li>
										<li data-stkgroupid="1" data-stkid="131" data-stkversion="100">--131--</li>
										<li data-stkgroupid="1" data-stkid="132" data-stkversion="100">--132--</li>
										<li data-stkgroupid="1" data-stkid="133" data-stkversion="100">--133--</li>
										<li data-stkgroupid="1" data-stkid="134" data-stkversion="100">--134--</li>
										<li data-stkgroupid="1" data-stkid="135" data-stkversion="100">--135--</li>
										<li data-stkgroupid="1" data-stkid="136" data-stkversion="100">--136--</li>
										<li data-stkgroupid="1" data-stkid="137" data-stkversion="100">--137--</li>
										<li data-stkgroupid="1" data-stkid="138" data-stkversion="100">--138--</li>
										<li data-stkgroupid="1" data-stkid="139" data-stkversion="100">--139--</li>
									</ul>
								</div>
							</div>
							<div id="tabs-2">
								<div class="stickerSelectSolid" style="overflow: scroll; height:512px;">
									<ul class="stickerSelectList" style="width: 630px;">
										<li data-stkgroupid="2" data-stkid="140" data-stkversion="100">--140--</li>
										<li data-stkgroupid="2" data-stkid="141" data-stkversion="100">--141--</li>
										<li data-stkgroupid="2" data-stkid="142" data-stkversion="100">--142--</li>
										<li data-stkgroupid="2" data-stkid="143" data-stkversion="100">--143--</li>
										<li data-stkgroupid="2" data-stkid="501" data-stkversion="100">--501--</li>
										<li data-stkgroupid="2" data-stkid="502" data-stkversion="100">--502--</li>
										<li data-stkgroupid="2" data-stkid="503" data-stkversion="100">--503--</li>
										<li data-stkgroupid="2" data-stkid="144" data-stkversion="100">--144--</li>
										<li data-stkgroupid="2" data-stkid="145" data-stkversion="100">--145--</li>
										<li data-stkgroupid="2" data-stkid="146" data-stkversion="100">--146--</li>
										<li data-stkgroupid="2" data-stkid="147" data-stkversion="100">--147--</li>
										<li data-stkgroupid="2" data-stkid="504" data-stkversion="100">--504--</li>
										<li data-stkgroupid="2" data-stkid="505" data-stkversion="100">--505--</li>
										<li data-stkgroupid="2" data-stkid="506" data-stkversion="100">--506--</li>
										<li data-stkgroupid="2" data-stkid="507" data-stkversion="100">--507--</li>
										<li data-stkgroupid="2" data-stkid="148" data-stkversion="100">--148--</li>
										<li data-stkgroupid="2" data-stkid="149" data-stkversion="100">--149--</li>
										<li data-stkgroupid="2" data-stkid="150" data-stkversion="100">--150--</li>
										<li data-stkgroupid="2" data-stkid="151" data-stkversion="100">--151--</li>
										<li data-stkgroupid="2" data-stkid="152" data-stkversion="100">--152--</li>
										<li data-stkgroupid="2" data-stkid="153" data-stkversion="100">--153--</li>
										<li data-stkgroupid="2" data-stkid="154" data-stkversion="100">--154--</li>
										<li data-stkgroupid="2" data-stkid="155" data-stkversion="100">--155--</li>
										<li data-stkgroupid="2" data-stkid="19" data-stkversion="100">--19--</li>
										<li data-stkgroupid="2" data-stkid="508" data-stkversion="100">--508--</li>
										<li data-stkgroupid="2" data-stkid="509" data-stkversion="100">--509--</li>
										<li data-stkgroupid="2" data-stkid="510" data-stkversion="100">--510--</li>
										<li data-stkgroupid="2" data-stkid="511" data-stkversion="100">--511--</li>
										<li data-stkgroupid="2" data-stkid="512" data-stkversion="100">--512--</li>
										<li data-stkgroupid="2" data-stkid="513" data-stkversion="100">--513--</li>
										<li data-stkgroupid="2" data-stkid="18" data-stkversion="100">--18--</li>
										<li data-stkgroupid="2" data-stkid="38" data-stkversion="100">--38--</li>
										<li data-stkgroupid="2" data-stkid="514" data-stkversion="100">--514--</li>
										<li data-stkgroupid="2" data-stkid="515" data-stkversion="100">--515--</li>
										<li data-stkgroupid="2" data-stkid="516" data-stkversion="100">--516--</li>
										<li data-stkgroupid="2" data-stkid="156" data-stkversion="100">--156--</li>
										<li data-stkgroupid="2" data-stkid="158" data-stkversion="100">--158--</li>
										<li data-stkgroupid="2" data-stkid="157" data-stkversion="100">--157--</li>
										<li data-stkgroupid="2" data-stkid="517" data-stkversion="100">--517--</li>
										<li data-stkgroupid="2" data-stkid="518" data-stkversion="100">--518--</li>
										<li data-stkgroupid="2" data-stkid="519" data-stkversion="100">--519--</li>
										<li data-stkgroupid="2" data-stkid="520" data-stkversion="100">--520--</li>
										<li data-stkgroupid="2" data-stkid="159" data-stkversion="100">--159--</li>
										<li data-stkgroupid="2" data-stkid="521" data-stkversion="100">--521--</li>
										<li data-stkgroupid="2" data-stkid="522" data-stkversion="100">--522--</li>
										<li data-stkgroupid="2" data-stkid="523" data-stkversion="100">--523--</li>
										<li data-stkgroupid="2" data-stkid="524" data-stkversion="100">--524--</li>
										<li data-stkgroupid="2" data-stkid="525" data-stkversion="100">--525--</li>
										<li data-stkgroupid="2" data-stkid="22" data-stkversion="100">--22--</li>
										<li data-stkgroupid="2" data-stkid="34" data-stkversion="100">--34--</li>
										<li data-stkgroupid="2" data-stkid="32" data-stkversion="100">--32--</li>
										<li data-stkgroupid="2" data-stkid="23" data-stkversion="100">--23--</li>
										<li data-stkgroupid="2" data-stkid="526" data-stkversion="100">--526--</li>
										<li data-stkgroupid="2" data-stkid="527" data-stkversion="100">--527--</li>
										<li data-stkgroupid="2" data-stkid="39" data-stkversion="100">--39--</li>
										<li data-stkgroupid="2" data-stkid="33" data-stkversion="100">--33--</li>
										<li data-stkgroupid="2" data-stkid="24" data-stkversion="100">--24--</li>
										<li data-stkgroupid="2" data-stkid="25" data-stkversion="100">--25--</li>
										<li data-stkgroupid="2" data-stkid="27" data-stkversion="100">--27--</li>
										<li data-stkgroupid="2" data-stkid="29" data-stkversion="100">--29--</li>
										<li data-stkgroupid="2" data-stkid="30" data-stkversion="100">--30--</li>
										<li data-stkgroupid="2" data-stkid="31" data-stkversion="100">--31--</li>
										<li data-stkgroupid="2" data-stkid="26" data-stkversion="100">--26--</li>
										<li data-stkgroupid="2" data-stkid="160" data-stkversion="100">--160--</li>
										<li data-stkgroupid="2" data-stkid="161" data-stkversion="100">--161--</li>
										<li data-stkgroupid="2" data-stkid="162" data-stkversion="100">--162--</li>
										<li data-stkgroupid="2" data-stkid="163" data-stkversion="100">--163--</li>
										<li data-stkgroupid="2" data-stkid="164" data-stkversion="100">--164--</li>
										<li data-stkgroupid="2" data-stkid="165" data-stkversion="100">--165--</li>
										<li data-stkgroupid="2" data-stkid="166" data-stkversion="100">--166--</li>
										<li data-stkgroupid="2" data-stkid="167" data-stkversion="100">--167--</li>
										<li data-stkgroupid="2" data-stkid="168" data-stkversion="100">--168--</li>
										<li data-stkgroupid="2" data-stkid="169" data-stkversion="100">--169--</li>
										<li data-stkgroupid="2" data-stkid="170" data-stkversion="100">--170--</li>
										<li data-stkgroupid="2" data-stkid="171" data-stkversion="100">--171--</li>
										<li data-stkgroupid="2" data-stkid="172" data-stkversion="100">--172--</li>
										<li data-stkgroupid="2" data-stkid="173" data-stkversion="100">--173--</li>
										<li data-stkgroupid="2" data-stkid="174" data-stkversion="100">--174--</li>
										<li data-stkgroupid="2" data-stkid="175" data-stkversion="100">--175--</li>
										<li data-stkgroupid="2" data-stkid="176" data-stkversion="100">--176--</li>
										<li data-stkgroupid="2" data-stkid="177" data-stkversion="100">--177--</li>
										<li data-stkgroupid="2" data-stkid="178" data-stkversion="100">--178--</li>
										<li data-stkgroupid="2" data-stkid="179" data-stkversion="100">--179--</li>
										<li data-stkgroupid="2" data-stkid="37" data-stkversion="100">--37--</li>
										<li data-stkgroupid="2" data-stkid="36" data-stkversion="100">--36--</li>
										<li data-stkgroupid="2" data-stkid="46" data-stkversion="100">--46--</li>
										<li data-stkgroupid="2" data-stkid="35" data-stkversion="100">--35--</li>
										<li data-stkgroupid="2" data-stkid="28" data-stkversion="100">--28--</li>
										<li data-stkgroupid="2" data-stkid="20" data-stkversion="100">--20--</li>
										<li data-stkgroupid="2" data-stkid="42" data-stkversion="100">--42--</li>
										<li data-stkgroupid="2" data-stkid="41" data-stkversion="100">--41--</li>
										<li data-stkgroupid="2" data-stkid="47" data-stkversion="100">--47--</li>
										<li data-stkgroupid="2" data-stkid="43" data-stkversion="100">--43--</li>
										<li data-stkgroupid="2" data-stkid="45" data-stkversion="100">--45--</li>
										<li data-stkgroupid="2" data-stkid="40" data-stkversion="100">--40--</li>
										<li data-stkgroupid="2" data-stkid="44" data-stkversion="100">--44--</li>
									</ul>
								</div>
							</div>
							<div id="tabs-3">
								<div class="stickerSelectSolid" style="overflow: scroll; height:512px;">
									<ul class="stickerSelectList" style="width: 630px;">
										<li data-stkgroupid="3" data-stkid="180" data-stkversion="100">--180--</li>
										<li data-stkgroupid="3" data-stkid="181" data-stkversion="100">--181--</li>
										<li data-stkgroupid="3" data-stkid="182" data-stkversion="100">--182--</li>
										<li data-stkgroupid="3" data-stkid="183" data-stkversion="100">--183--</li>
										<li data-stkgroupid="3" data-stkid="184" data-stkversion="100">--184--</li>
										<li data-stkgroupid="3" data-stkid="185" data-stkversion="100">--185--</li>
										<li data-stkgroupid="3" data-stkid="186" data-stkversion="100">--186--</li>
										<li data-stkgroupid="3" data-stkid="187" data-stkversion="100">--187--</li>
										<li data-stkgroupid="3" data-stkid="188" data-stkversion="100">--188--</li>
										<li data-stkgroupid="3" data-stkid="189" data-stkversion="100">--189--</li>
										<li data-stkgroupid="3" data-stkid="190" data-stkversion="100">--190--</li>
										<li data-stkgroupid="3" data-stkid="191" data-stkversion="100">--191--</li>
										<li data-stkgroupid="3" data-stkid="192" data-stkversion="100">--192--</li>
										<li data-stkgroupid="3" data-stkid="193" data-stkversion="100">--193--</li>
										<li data-stkgroupid="3" data-stkid="194" data-stkversion="100">--194--</li>
										<li data-stkgroupid="3" data-stkid="195" data-stkversion="100">--195--</li>
										<li data-stkgroupid="3" data-stkid="196" data-stkversion="100">--196--</li>
										<li data-stkgroupid="3" data-stkid="197" data-stkversion="100">--197--</li>
										<li data-stkgroupid="3" data-stkid="198" data-stkversion="100">--198--</li>
										<li data-stkgroupid="3" data-stkid="199" data-stkversion="100">--199--</li>
										<li data-stkgroupid="3" data-stkid="200" data-stkversion="100">--200--</li>
										<li data-stkgroupid="3" data-stkid="201" data-stkversion="100">--201--</li>
										<li data-stkgroupid="3" data-stkid="202" data-stkversion="100">--202--</li>
										<li data-stkgroupid="3" data-stkid="203" data-stkversion="100">--203--</li>
										<li data-stkgroupid="3" data-stkid="204" data-stkversion="100">--204--</li>
										<li data-stkgroupid="3" data-stkid="205" data-stkversion="100">--205--</li>
										<li data-stkgroupid="3" data-stkid="206" data-stkversion="100">--206--</li>
										<li data-stkgroupid="3" data-stkid="207" data-stkversion="100">--207--</li>
										<li data-stkgroupid="3" data-stkid="208" data-stkversion="100">--208--</li>
										<li data-stkgroupid="3" data-stkid="209" data-stkversion="100">--209--</li>
										<li data-stkgroupid="3" data-stkid="210" data-stkversion="100">--210--</li>
										<li data-stkgroupid="3" data-stkid="211" data-stkversion="100">--211--</li>
										<li data-stkgroupid="3" data-stkid="212" data-stkversion="100">--212--</li>
										<li data-stkgroupid="3" data-stkid="213" data-stkversion="100">--213--</li>
										<li data-stkgroupid="3" data-stkid="214" data-stkversion="100">--214--</li>
										<li data-stkgroupid="3" data-stkid="215" data-stkversion="100">--215--</li>
										<li data-stkgroupid="3" data-stkid="216" data-stkversion="100">--216--</li>
										<li data-stkgroupid="3" data-stkid="217" data-stkversion="100">--217--</li>
										<li data-stkgroupid="3" data-stkid="218" data-stkversion="100">--218--</li>
										<li data-stkgroupid="3" data-stkid="219" data-stkversion="100">--219--</li>
										<li data-stkgroupid="3" data-stkid="220" data-stkversion="100">--220--</li>
										<li data-stkgroupid="3" data-stkid="221" data-stkversion="100">--221--</li>
										<li data-stkgroupid="3" data-stkid="222" data-stkversion="100">--222--</li>
										<li data-stkgroupid="3" data-stkid="223" data-stkversion="100">--223--</li>
										<li data-stkgroupid="3" data-stkid="224" data-stkversion="100">--224--</li>
										<li data-stkgroupid="3" data-stkid="225" data-stkversion="100">--225--</li>
										<li data-stkgroupid="3" data-stkid="226" data-stkversion="100">--226--</li>
										<li data-stkgroupid="3" data-stkid="227" data-stkversion="100">--227--</li>
										<li data-stkgroupid="3" data-stkid="228" data-stkversion="100">--228--</li>
										<li data-stkgroupid="3" data-stkid="229" data-stkversion="100">--229--</li>
										<li data-stkgroupid="3" data-stkid="230" data-stkversion="100">--230--</li>
										<li data-stkgroupid="3" data-stkid="231" data-stkversion="100">--231--</li>
										<li data-stkgroupid="3" data-stkid="232" data-stkversion="100">--232--</li>
										<li data-stkgroupid="3" data-stkid="233" data-stkversion="100">--233--</li>
										<li data-stkgroupid="3" data-stkid="234" data-stkversion="100">--234--</li>
										<li data-stkgroupid="3" data-stkid="235" data-stkversion="100">--235--</li>
										<li data-stkgroupid="3" data-stkid="236" data-stkversion="100">--236--</li>
										<li data-stkgroupid="3" data-stkid="237" data-stkversion="100">--237--</li>
										<li data-stkgroupid="3" data-stkid="238" data-stkversion="100">--238--</li>
										<li data-stkgroupid="3" data-stkid="239" data-stkversion="100">--239--</li>
										<li data-stkgroupid="3" data-stkid="240" data-stkversion="100">--240--</li>
										<li data-stkgroupid="3" data-stkid="241" data-stkversion="100">--241--</li>
										<li data-stkgroupid="3" data-stkid="242" data-stkversion="100">--242--</li>
										<li data-stkgroupid="3" data-stkid="243" data-stkversion="100">--243--</li>
										<li data-stkgroupid="3" data-stkid="244" data-stkversion="100">--244--</li>
										<li data-stkgroupid="3" data-stkid="245" data-stkversion="100">--245--</li>
										<li data-stkgroupid="3" data-stkid="246" data-stkversion="100">--246--</li>
										<li data-stkgroupid="3" data-stkid="247" data-stkversion="100">--247--</li>
										<li data-stkgroupid="3" data-stkid="248" data-stkversion="100">--248--</li>
										<li data-stkgroupid="3" data-stkid="249" data-stkversion="100">--249--</li>
										<li data-stkgroupid="3" data-stkid="250" data-stkversion="100">--250--</li>
										<li data-stkgroupid="3" data-stkid="251" data-stkversion="100">--251--</li>
										<li data-stkgroupid="3" data-stkid="252" data-stkversion="100">--252--</li>
										<li data-stkgroupid="3" data-stkid="253" data-stkversion="100">--253--</li>
										<li data-stkgroupid="3" data-stkid="254" data-stkversion="100">--254--</li>
										<li data-stkgroupid="3" data-stkid="255" data-stkversion="100">--255--</li>
										<li data-stkgroupid="3" data-stkid="256" data-stkversion="100">--256--</li>
										<li data-stkgroupid="3" data-stkid="257" data-stkversion="100">--257--</li>
										<li data-stkgroupid="3" data-stkid="258" data-stkversion="100">--258--</li>
										<li data-stkgroupid="3" data-stkid="259" data-stkversion="100">--259--</li>
									</ul>
								</div>
							</div>
							<div id="tabs-4">
								<div class="stickerSelectSolid" style="overflow: scroll; height:512px;">
									<ul class="stickerSelectList" style="width: 630px;">
										<li data-stkgroupid="4" data-stkid="263"
											data-stkversion="100">--263--</li>
										<li data-stkgroupid="4" data-stkid="264"
											data-stkversion="100">--264--</li>
										<li data-stkgroupid="4" data-stkid="265"
											data-stkversion="100">--265--</li>
										<li data-stkgroupid="4" data-stkid="266"
											data-stkversion="100">--266--</li>
										<li data-stkgroupid="4" data-stkid="267"
											data-stkversion="100">--267--</li>
										<li data-stkgroupid="4" data-stkid="268"
											data-stkversion="100">--268--</li>
										<li data-stkgroupid="4" data-stkid="601"
											data-stkversion="100">--601--</li>
										<li data-stkgroupid="4" data-stkid="602"
											data-stkversion="100">--602--</li>
										<li data-stkgroupid="4" data-stkid="603"
											data-stkversion="100">--603--</li>
										<li data-stkgroupid="4" data-stkid="604"
											data-stkversion="100">--604--</li>
										<li data-stkgroupid="4" data-stkid="605"
											data-stkversion="100">--605--</li>
										<li data-stkgroupid="4" data-stkid="606"
											data-stkversion="100">--606--</li>
										<li data-stkgroupid="4" data-stkid="260"
											data-stkversion="100">--260--</li>
										<li data-stkgroupid="4" data-stkid="261"
											data-stkversion="100">--261--</li>
										<li data-stkgroupid="4" data-stkid="262"
											data-stkversion="100">--262--</li>
										<li data-stkgroupid="4" data-stkid="607"
											data-stkversion="100">--607--</li>
										<li data-stkgroupid="4" data-stkid="269"
											data-stkversion="100">--269--</li>
										<li data-stkgroupid="4" data-stkid="270"
											data-stkversion="100">--270--</li>
										<li data-stkgroupid="4" data-stkid="271"
											data-stkversion="100">--271--</li>
										<li data-stkgroupid="4" data-stkid="272"
											data-stkversion="100">--272--</li>
										<li data-stkgroupid="4" data-stkid="273"
											data-stkversion="100">--273--</li>
										<li data-stkgroupid="4" data-stkid="608"
											data-stkversion="100">--608--</li>
										<li data-stkgroupid="4" data-stkid="274"
											data-stkversion="100">--274--</li>
										<li data-stkgroupid="4" data-stkid="275"
											data-stkversion="100">--275--</li>
										<li data-stkgroupid="4" data-stkid="276"
											data-stkversion="100">--276--</li>
										<li data-stkgroupid="4" data-stkid="277"
											data-stkversion="100">--277--</li>
										<li data-stkgroupid="4" data-stkid="278"
											data-stkversion="100">--278--</li>
										<li data-stkgroupid="4" data-stkid="609"
											data-stkversion="100">--609--</li>
										<li data-stkgroupid="4" data-stkid="610"
											data-stkversion="100">--610--</li>
										<li data-stkgroupid="4" data-stkid="282"
											data-stkversion="100">--282--</li>
										<li data-stkgroupid="4" data-stkid="283"
											data-stkversion="100">--283--</li>
										<li data-stkgroupid="4" data-stkid="291"
											data-stkversion="100">--291--</li>
										<li data-stkgroupid="4" data-stkid="279"
											data-stkversion="100">--279--</li>
										<li data-stkgroupid="4" data-stkid="280"
											data-stkversion="100">--280--</li>
										<li data-stkgroupid="4" data-stkid="281"
											data-stkversion="100">--281--</li>
										<li data-stkgroupid="4" data-stkid="284"
											data-stkversion="100">--284--</li>
										<li data-stkgroupid="4" data-stkid="285"
											data-stkversion="100">--285--</li>
										<li data-stkgroupid="4" data-stkid="611"
											data-stkversion="100">--611--</li>
										<li data-stkgroupid="4" data-stkid="286"
											data-stkversion="100">--286--</li>
										<li data-stkgroupid="4" data-stkid="612"
											data-stkversion="100">--612--</li>
										<li data-stkgroupid="4" data-stkid="288"
											data-stkversion="100">--288--</li>
										<li data-stkgroupid="4" data-stkid="289"
											data-stkversion="100">--289--</li>
										<li data-stkgroupid="4" data-stkid="613"
											data-stkversion="100">--613--</li>
										<li data-stkgroupid="4" data-stkid="614"
											data-stkversion="100">--614--</li>
										<li data-stkgroupid="4" data-stkid="615"
											data-stkversion="100">--615--</li>
										<li data-stkgroupid="4" data-stkid="290"
											data-stkversion="100">--290--</li>
										<li data-stkgroupid="4" data-stkid="616"
											data-stkversion="100">--616--</li>
										<li data-stkgroupid="4" data-stkid="617"
											data-stkversion="100">--617--</li>
										<li data-stkgroupid="4" data-stkid="292"
											data-stkversion="100">--292--</li>
										<li data-stkgroupid="4" data-stkid="293"
											data-stkversion="100">--293--</li>
										<li data-stkgroupid="4" data-stkid="294"
											data-stkversion="100">--294--</li>
										<li data-stkgroupid="4" data-stkid="295"
											data-stkversion="100">--295--</li>
										<li data-stkgroupid="4" data-stkid="296"
											data-stkversion="100">--296--</li>
										<li data-stkgroupid="4" data-stkid="618"
											data-stkversion="100">--618--</li>
										<li data-stkgroupid="4" data-stkid="619"
											data-stkversion="100">--619--</li>
										<li data-stkgroupid="4" data-stkid="287"
											data-stkversion="100">--287--</li>
										<li data-stkgroupid="4" data-stkid="297"
											data-stkversion="100">--297--</li>
										<li data-stkgroupid="4" data-stkid="298"
											data-stkversion="100">--298--</li>
										<li data-stkgroupid="4" data-stkid="299"
											data-stkversion="100">--299--</li>
										<li data-stkgroupid="4" data-stkid="300"
											data-stkversion="100">--300--</li>
										<li data-stkgroupid="4" data-stkid="301"
											data-stkversion="100">--301--</li>
										<li data-stkgroupid="4" data-stkid="302"
											data-stkversion="100">--302--</li>
										<li data-stkgroupid="4" data-stkid="620"
											data-stkversion="100">--620--</li>
										<li data-stkgroupid="4" data-stkid="303"
											data-stkversion="100">--303--</li>
										<li data-stkgroupid="4" data-stkid="304"
											data-stkversion="100">--304--</li>
										<li data-stkgroupid="4" data-stkid="305"
											data-stkversion="100">--305--</li>
										<li data-stkgroupid="4" data-stkid="306"
											data-stkversion="100">--306--</li>
										<li data-stkgroupid="4" data-stkid="307"
											data-stkversion="100">--307--</li>
										<li data-stkgroupid="4" data-stkid="621"
											data-stkversion="100">--621--</li>
										<li data-stkgroupid="4" data-stkid="622"
											data-stkversion="100">--622--</li>
										<li data-stkgroupid="4" data-stkid="623"
											data-stkversion="100">--623--</li>
										<li data-stkgroupid="4" data-stkid="624"
											data-stkversion="100">--624--</li>
										<li data-stkgroupid="4" data-stkid="625"
											data-stkversion="100">--625--</li>
										<li data-stkgroupid="4" data-stkid="629"
											data-stkversion="100">--629--</li>
										<li data-stkgroupid="4" data-stkid="627"
											data-stkversion="100">--627--</li>
										<li data-stkgroupid="4" data-stkid="628"
											data-stkversion="100">--628--</li>
										<li data-stkgroupid="4" data-stkid="626"
											data-stkversion="100">--626--</li>
										<li data-stkgroupid="4" data-stkid="630"
											data-stkversion="100">--630--</li>
										<li data-stkgroupid="4" data-stkid="631"
											data-stkversion="100">--631--</li>
										<li data-stkgroupid="4" data-stkid="632"
											data-stkversion="100">--632--</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				
</body>
</html>
