<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=640, target-densitydpi=device-dpi, maximum-scale=2.0, user-scalable=yes" />
    
	    <!-- CSRF token -->
		<meta name="_csrf" th:content="${_csrf.token}"/>
		<!-- default header name is X-CSRF-TOKEN -->
		<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
		
		<title>集點卡</title>
		<link href="../../bcsrc/Mobile/RewardCard/css/normalize.css" rel="stylesheet" type="text/css">
		<link href="../../bcsrc/Mobile/RewardCard/css/style.css" rel="stylesheet" type="text/css">
		<link href="../../bcsrc/Mobile/RewardCard/css/lineRewardCard.css" rel="stylesheet" type="text/css">
		
		<script type='text/javascript' src='../webjars/momentjs/2.13.0/min/moment.min.js'></script>
		<script type='text/javascript' src='../webjars/jquery/2.2.3/jquery.min.js'></script>
		
		<script type='text/javascript' src='../../bcsrc/Mobile/JS/core.js'></script>
		
		<script src="../../bcsrc/Mobile/RewardCard/js/jquery-migrate-1.2.1.min.js"></script>
		<script src="../../bcsrc/Mobile/RewardCard/js/function.js"></script>
		
		<script src="../../bcsrc/Mobile/RewardCard/js/content.base.js"></script>
		
		<!--[if lt IE 9]>
		<script src="../../bcsrc/Mobile/RewardCard/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>
		<div class="wrapper">
			<div class="coupon_content">
				<div class="used_alert">
					你已成功領取此數位集點卡<br>
				</div>
			    <div class="kv">
			        <img  th:if="${!#strings.isEmpty(imageId)}"  th:src="${imageId}" style="width: 100%;">
			        <img  th:if="${#strings.isEmpty(imageId)}"  src="../../bcsrc/Mobile/RewardCard/images/kv.png" style="width: 100%;">
			    </div>
			    <section class="coupon_copywriter">
			        <h1 class="title"><span style="word-wrap: break-word;" th:text="${contentRewardCard.rewardCardMainTitle}">集點卡</span></h1>
			        <div class="stamp_con stamp_con_bg_color_01">
			        	<div class="bartang">
			        		<!--點數欄位-->
			        		<div class="bang_area" id="stamp_list_render_area">
			        			<ul id="bang_size">
			        			</ul>
			        		</div>
			        	</div>
			        </div>
			        <ul class="redeem">
	           			<li class="date"  style="font-size: 1.7em; line-height:1.1em " >
	           				<font th:text="${havePoint}"></font> / <font th:text="${contentRewardCard.requirePoint}"></font>
	           				<input type="hidden" class="havePoint" th:value="${havePoint}">
	           				<input type="hidden" class="requirePoint" th:value="${contentRewardCard.requirePoint}">
	           			</li>
			        </ul>
			        <ul class="redeem">
	           			<li class="date"  style="font-size: 1.2em; line-height:1.1em" >
	           				<div style="height:.5em" ></div>使用效期開始：<span th:text="${#dates.format(rewardCardStartUsingTime, 'yyyy/MM/dd HH:mm')} + '~' "></span><br>結束：<span th:text="${#dates.format(rewardCardEndUsingTime, 'yyyy/MM/dd HH:mm')}"></span>
	           			</li>
			        </ul>
			    </section>
			</div>
		    <section class="coupon_notes">
		        <ol>
		            <li><strong class="item1">可獲得優惠的內容</strong>
		            	<table border="0">
						   <tbody>
						     <tr>
						       <td>
						       		<pre th:text="${contentCoupon.couponTitle}"></pre>
						       		<pre th:text="${contentCoupon.couponUseDescription}"></pre>
						       </td>
						       <td><img  th:if="${!#strings.isEmpty(coupontImageListId)}"  th:src="${coupontImageListId}" style="width: 100%;"></td>
						      </tr>
						   </tbody>
 						</table>
		            </li>
		            <li><strong class="item2">注意事項</strong>
		                <pre th:text="${contentRewardCard.rewardCardDescription}"></pre>
		            </li>            
		        </ol>
		    </section>
		</div>
		<pre  style="white-space: pre-wrap;visibility: hidden;font-size: xx-small;">----------------------------------------------------------------------------------------------------------------------------------</pre>
	</body>
</html>