<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd
		">
	
	<mvc:resources mapping="/Mobile/**" location="/Mobile/" />
	<mvc:resources mapping="/BCS/**" location="/BCS/">
		<mvc:resource-chain resource-cache="true">
			<mvc:resolvers>
				<mvc:version-resolver>
					<mvc:content-version-strategy
						patterns="/**" />
				</mvc:version-resolver>
			</mvc:resolvers>
		</mvc:resource-chain>
	</mvc:resources>
	
	<mvc:resources mapping="/resources/**" location="/resources/" />
	
	<mvc:annotation-driven>
	    <mvc:argument-resolvers>
	        <bean class="org.springframework.security.web.method.annotation.AuthenticationPrincipalArgumentResolver" />
	    </mvc:argument-resolvers>
		<mvc:message-converters>
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>text/plain;charset=UTF-8</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
		<mvc:path-matching suffix-pattern="false"/>
	</mvc:annotation-driven>
	
	<mvc:default-servlet-handler/>
	
	<!-- 启动对@AspectJ注解的支持 -->  
	<aop:aspectj-autoproxy/>
	<!-- 通知spring使用cglib而不是jdk的来生成代理方法 AOP可以拦截到Controller -->
	<aop:aspectj-autoproxy proxy-target-class="true"/>  
	
	<context:component-scan base-package="com.bcs.*" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

	<!-- Configure to plugin JSON as request and response in method handler -->
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<property name="messageConverters">
			<list>
				<ref bean="jsonMessageConverter" />
			</list>
		</property>
	</bean>

	<!-- Configure bean to convert JSON to POJO and vice versa -->
	<bean id="jsonMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter" />

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize">
			<value>30000000</value>
		</property>
		<property name="defaultEncoding">
			<value>utf-8</value>
		</property>
	</bean>
	
<!--     <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" -->
<!--           p:prefix="/WEB-INF/html" -->
<!--           p:suffix=".html"/> -->


    <!-- Thymeleaf View Resolver - implementation of Spring's ViewResolver interface -->
    <bean id="viewResolver" class="org.thymeleaf.spring4.view.ThymeleafViewResolver">
        <property name="templateEngine" ref="templateEngine" />
        <property name="characterEncoding" value="UTF-8" />
    </bean>

	<!-- Thymeleaf Template Engine (Spring4-specific version) -->
	<bean id="templateEngine" class="org.thymeleaf.spring4.SpringTemplateEngine">
		<property name="templateResolvers">
			<set>
				<ref bean="templateResolver" />
			</set>
		</property>
		<property name="additionalDialects">
			<set>
			
				<!-- Note the package would change to 'springsecurity3' if you are using that version -->
				<bean class="org.thymeleaf.extras.springsecurity4.dialect.SpringSecurityDialect" />
			</set>
		</property>
	</bean>
    
    <!-- Thymeleaf Template Resolver -->
    <bean id="templateResolver" class="org.thymeleaf.spring4.templateresolver.SpringResourceTemplateResolver">
        <property name="prefix" value="/WEB-INF/html/" />
        <property name="suffix" value=".html" />
        <property name="characterEncoding" value="UTF-8" />
        <property name="templateMode" value="HTML" />
        <property name="cacheable" value="false" />
    </bean>
	
	<!-- 預設的錯誤處理 -->
	<bean id="customHandlerExceptionResolver" 
		class="com.bcs.web.exception.CustomHandlerExceptionResolver"></bean>
</beans>