<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/security 
    http://www.springframework.org/schema/security/spring-security-4.1.xsd">
    
    <http pattern="/webjars/**" security="none"/>
    <http pattern="/BCS/**" security="none"/>
    <http pattern="/Mobile/**" security="none"/>
    
   	<!-- LINE API 呼叫的 API -->
	<http pattern="/line/**" security="none"/>
	
	<http pattern="/api/**" security="none"/>
	
	<http pattern="/campaign/**" security="none"/>

	<!-- 使用 Controller 取得 Resource -->
	<http pattern="/bcs/getResource/**" security="none"/>
	<http pattern="/bcs/getLink/**" security="none"/>
    
	<http auto-config="true">
		<intercept-url pattern="/init/**" access="permitAll"/>
		<!-- Mobile Controller -->
		<intercept-url pattern="/m/**" access="permitAll"/>

		<!-- 使用 Controller Tracing Click -->
		<intercept-url pattern="/l/**" access="permitAll"/>
		<intercept-url pattern="/c/**" access="permitAll"/>
		<intercept-url pattern="/campaign/**" access="permitAll"/>
		
		<intercept-url pattern="/bcs/doLogin*" access="permitAll"/>
		
		<intercept-url pattern="/bcs/admin/**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/bcs/edit/**" access="hasAnyRole('ROLE_EDIT', 'ROLE_ADMIN')" />
		<intercept-url pattern="/bcs/market/**" access="hasAnyRole('ROLE_EDIT', 'ROLE_ADMIN', 'ROLE_MARKET')" />

		<!-- 此 pattern 要擺在最後面 -->
		<intercept-url pattern="/**" access="authenticated"/>
		
		<form-login login-page="/bcs/doLogin" username-parameter="tid"
			password-parameter="tpasswd" 
			default-target-url="/bcs/login" 
			always-use-default-target="true" />
		<logout logout-url="/bcs/doLogout" />
		<access-denied-handler ref="customAccessDeniedHandler" />
		
		<!-- CSRF 啟用與否 -->
		<csrf disabled="true"/>
		<!-- <csrf />-->
		<headers>
			<frame-options policy="SAMEORIGIN" />
		</headers>
	</http>

	<authentication-manager>
		<authentication-provider user-service-ref="customUserDetailsService">
			<password-encoder ref="bcryptEncoder" />
		</authentication-provider>
	</authentication-manager>

	<beans:bean id="customUserDetailsService"
		class="com.bcs.web.security.service.CustomUserDetailsService" />
		
	<beans:bean name="bcryptEncoder"
		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />
	
	<beans:bean id="customAccessDeniedHandler"
		class="com.bcs.web.security.CustomAccessDeniedHandler" />

</beans:beans>